html,
body {
    margin: 0;
    overflow-x: hidden;
}

.bg-login {
    background-image: url(image/login.png);
    background-size: cover;

    /* set logo to center of display */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-signup {
    /* height: 100vh; */

    /* set content to center of display */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-signup h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;

    display: block;
    text-align: center;

    color: #EFC81A;

}

.form-signup p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    display: block;
    text-align: center;

    color: #8692A6;
}

.form-signup .form-width {
    width: 430px;
    height: 64px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.form-signup .form-check{
    margin-top: 35px;
}

.form-signup .d-grid .regis{
    color: white;
}

.form-signup .login{
    text-decoration: none;
    color: #EFC81A;
}