html,
body {
    margin: 0;
    overflow-x: hidden;
}

/* background signup */
.bg-signup {
    background-image: url(./login.webp);
    background-size: cover;
    

    /* set logo to center of display */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* centering form signup */
.form-signup {

    /* set content to center of display */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-signup h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;

    display: block;
    text-align: center;

    color: #EFC81A;

}

.form-signup p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    display: block;
    text-align: center;

    color: #8692A6;
}

/* lenght of signup form */
.form-signup .form-width {
    width: 430px;
    height: 64px;
    margin-top: 35px;
    margin-bottom: 35px;
}

/* lenght of signup form in mobile */

@media (max-width: 600px) {
    .form-signup .form-width{
        width: 250px;
    }

    .form-signup .already-have-account{
        font-size: 12px;
    }
}

/* checklist term */
.form-signup .form-check{
    margin-top: 35px;
}

/* coloring text in signup button */
.form-signup .d-grid .regis{
    color: white;
}

/* login link styling */
.form-signup .login{
    text-decoration: none;
    color: #EFC81A;
}